
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCharacter</title>
</head>
<body>
    <h1>@ViewBag.CharacterList.FirstName @ViewBag.CharacterList.LastName @ViewBag.CharacterList.Age</h1>
</body>
</html>
