
@{
    Layout = "_Layout";
}
<br />
<div class="list-group" id="My">
    <ul class="list-group-flush">
        @foreach (var a in ViewBag.AllStudios)
        {
            <li class="list-group-item" style="background-color: #6884b0; margin-right: 40%;">
                <a style="color:black; font-size:1.2em; font-stretch:wider" href="CurrentStudio/@a.Id"><img src="~/img/@a.ImgLink" width="150" height="150" /> @a.Name</a>
            </li>
            <br />
        }
    </ul>
</div>